/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f9f9f9;
}

form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Fieldset and Legend */
fieldset {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

legend {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    padding: 0 10px;border-bottom: 3px solid black;
}

/* Labels and Inputs */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select, textarea {
    width: calc(50% - 10px); /* Adjusts input width */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    height: 80px;
    resize: none;
}

/* Group Styles for Two Columns */
input[type="radio"], input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

label[for="Mostrar Contraseña"] {
    display: inline-block;
}

fieldset > fieldset {
    margin-top: 10px;
    border: none;
    padding: 0;
}

/* Form Layout */
input[type="text"], input[type="password"], input[type="tel"], select {
    display: inline-block;
    margin-right: 10px;
}

input[type="text"]:nth-child(even), input[type="tel"]:nth-child(even) {
    margin-right: 0;
}

/* Button Styles */
button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: black;
}
